<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="form mt-5 text-center">
                <h1><label for="tickerDataList" class="form-label">Search for ticker</label></h1>
                <input class="form-control-lg d-block mx-auto" list="datalistOptions" id="tickerDataList" placeholder="Search"
                    name="inputText" [(ngModel)]="inputText" (ngModelChange)="search()">
                <datalist id="datalistOptions">
                    <option *ngFor="let ticker of tickers" [value]="ticker.properties.name">
                </datalist>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3" *ngFor="let ticker of tickers | paginate: { itemsPerPage:12, currentPage:page }">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <h3 class="card-title">{{ticker.properties.name}}</h3>
                    <div class="card-links">
                        <span><i class="bi bi-graph-up"></i></span>
                        <span style="margin-left: 1.5rem;"><i class="bi bi-diagram-3"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
</div>
