.card {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    background-color: whitesmoke;
}

/*
 * Globals
 */

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.jumbotron {
    background-color: #e3e3e3;
    padding: 1rem;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.logos {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

h1 {
    background: linear-gradient(to right, #0499F2,#26F596);
    text-shadow: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

input {
    font-family: -apple-system,BlinkMacSystemFont;
    color: #fff;
    font-weight: 550;
    background-color: rgba(31, 31, 33, 0.928);
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: .4s;
    padding-left: 2.5rem;
    
}

input:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .15vw rgba(16,190,208,0.186);
}

input:focus {
    box-shadow: 0 0 0 .15vw rgba(12, 150, 165, 0.816)/*skyblue*/;
    padding-left: 1rem;
    transition: padding-left 0.4s ease-in-out;
}

.input-container {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    margin: center;
}

.input-icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

input:focus ~ .input-icon {
    opacity: 0;
    visibility: hidden;
}

input:valid ~ .input-icon {
    opacity: 0;
    visibility: hidden;
}

input:valid {
    padding-left: 1rem;
    transition: padding-left 0.4s ease-in-out;
}
/* 
 * The .form class is used for the container of the search bar.
 * It uses a flex layout in a column direction to stack child elements vertically.
 * The align-items property is set to center, which horizontally centers the child elements.
 * A gap of 1rem is set between each child element for spacing.
 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*
@keyframes glowing {
    0% {box-shadow: 0 0 2px rgba(12, 150, 165, 0.816), 0 0 10px rgba(12, 150, 165, 0.816), 0 0 20px rgba(12, 150, 165, 0.816), 0 0 40px rgba(12, 150, 165, 0.816);}
    50% {box-shadow: 0 0 4px rgba(12, 150, 165, 0.816), 0 0 8px rgba(12, 150, 165, 0.816), 0 0 16px rgba(12, 150, 165, 0.816), 0 0 20px rgba(12, 150, 165, 0.816);}
    100% {box-shadow: 0 0 2px rgba(12, 150, 165, 0.816), 0 0 10px rgba(12, 150, 165, 0.816), 0 0 20px rgba(12, 150, 165, 0.816), 0 0 40px rgba(12, 150, 165, 0.816);}
}

input:not(:focus) {
    animation: glowing 2s infinite;
}
*/