<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
          <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="GlobeSense" />
          <span class="ms-1">GlobeSense</span>
        </a>
      </h3>
      <button class="navbar-toggler d-md-none" type="button" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="nav nav-masthead justify-content-end d-none d-md-flex">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" routerLink="/">HOME</a>
        <a class="nav-link fw-bold py-1 px-0" routerLink="/companies/graphs">GRAPHS</a>
        <a class="nav-link fw-bold py-1 px-0" routerLink="/companies">COMPANIES</a>
      </nav>
    </div>
    <nav *ngIf="isNavbarOpen" class="nav nav-masthead justify-content-center d-flex d-md-none">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" routerLink="/">HOME</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/companies/graphs">GRAPHS</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/companies">COMPANIES</a>
    </nav>
  </header>

  <main class="px-3">
    <section class="cover-section">
      <h1 class="intro">INTERESTED IN EXPLORING NEWS SENTIMENT?</h1>
      <p class="text-center">
        We provide a platform for analysing news sentiment data and its impact on stock market trends. Our platform offers a comprehensive overview of news sentiment data, enabling the exploration of the correlation between articles and companies and visualising sentiment trends over time.
      </p>
      <p class="lead">
        <!-- TODO Add resource to thesis after publication -->
        <a class="btn btn-lg btn-light btn-outline-success fw-bold border-white bg-white" href="https://dspace.cuni.cz" target="_blank" style="color: black;">Learn more</a>
      </p>
    </section>

    <!-- Graph Section -->
    <section class="cover-section">
      <div class="data-source-container">
        <div class="text-content-graph">
          <h1>GRAPH PAGE</h1>
          <p>
            Each company is represented within a graph, where nodes corresponding to articles and the company share the same size. The colour of each article node and its connecting edge reflects the company's sentiment in the article, detailed in the control panel. The company is coloured blue.
          </p>          
        </div>
        <div class="jumbotron-graph">
          <a target="_blank" href="/company/AAPL/graph">
            <img src="assets/images/aapl-graph.png" alt="Graph" class="jumbotron-image jumbotron-graph-image" />
          </a>
        </div>
      </div>
    </section>  

    <!-- Graphs Section -->
    <section class="cover-section">
      <div class="data-source-container">
        <div class="jumbotron-graphs">
          <a target="_blank" href="/companies/graphs">
            <img src="assets/images/aapl-graphs.png" alt="Graphs" class="jumbotron-image jumbotron-graphs-image" />
          </a>
        </div>
        <div class="text-content-graphs">
          <h1>GRAPHS PAGE</h1>
          <p>
            The graph visualises relationships between articles and the companies mentioned within them. Node sizes are determined by relevance: for company nodes, size correlates with the frequency of article mentions, while for article nodes, it reflects the count of mentioned companies.
          </p>
          <p>
            Article nodes also display the average sentiment of all referenced companies, influencing their colour. Company nodes are uniformly coloured blue. Additionally, the colour of the connecting edges mirrors the sentiment of the associated entity in the article, providing a comprehensive sentiment overview at a glance.
          </p>          
        </div>
      </div>
    </section>       

    <section class="cover-section">
      <div class="data-source-container">
        <div class="jumbotron" data-mdb-toggle="animation" data-mdb-animation-start="onHover"
          data-mdb-animation-reset="true" data-mdb-animation="slide-right">
          <a target="_blank" href="https://www.theguardian.com">
            <!-- https://brandfetch.com/theguardian.com -->
            <img src="assets/images/the-guardian.png" alt="the-guardian" class="jumbotron-image" />
          </a>
        </div>
        <div class="text-content">
          <h1>DATA SOURCE</h1>
          <p> 
            The Guardian is a British news and media website owned by the Guardian Media Group. It contains nearly all of the content of the newspapers The Guardian and The Observer, as well as a substantial body of web-only work produced by its own staff, including a rolling news service.
          </p>
          <p>
            Through the use of <b><a href="https://open-platform.theguardian.com" class="text-white">Open Platform</a></b>, we have free access to and can analyze news articles whole content from The Guardian, offering a valuable data source.
          </p>
        </div>
      </div>
    </section>
    
    <section class="cover-section">
      <h1>TECHNOLOGY STACK</h1>
      <div class="techstack-source-container">
        <div class="sliding-images">
          <div class="jumbotron">
            <a target="_blank" href="https://www.python.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/python.svg" alt="python" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://airflow.apache.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/airflow.svg" alt="airflow" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.docker.com">
              <!-- https://brandfetch.com/ -->
              <img src="assets/images/techstack/docker.jpeg" alt="docker" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://fastapi.tiangolo.com">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/fastapi.svg" alt="fastapi" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://flask.palletsprojects.com/en/3.0.x/">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/flask.svg" alt="flask" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://angularjs.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/angularjs.svg" alt="angularjs" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.postgresql.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/postgresql.svg" alt="postgresql" class="jumbotron-image" />
            </a>
          </div>

          <!-- Duplicate to enhance full screen sliding effect -->
          <div class="jumbotron">
            <a target="_blank" href="https://www.python.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/python.svg" alt="python" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://airflow.apache.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/airflow.svg" alt="airflow" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.docker.com">
              <!-- https://brandfetch.com/ -->
              <img src="assets/images/techstack/docker.jpeg" alt="docker" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://fastapi.tiangolo.com">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/fastapi.svg" alt="fastapi" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://flask.palletsprojects.com/en/3.0.x/">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/flask.svg" alt="flask" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://angularjs.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/angularjs.svg" alt="angularjs" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.postgresql.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/postgresql.svg" alt="postgresql" class="jumbotron-image" />
            </a>
          </div>

          <!-- Duplicate to enhance full screen sliding effect -->

          <div class="jumbotron">
            <a target="_blank" href="https://www.python.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/python.svg" alt="python" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://airflow.apache.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/airflow.svg" alt="airflow" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.docker.com">
              <!-- https://brandfetch.com/ -->
              <img src="assets/images/techstack/docker.jpeg" alt="docker" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://fastapi.tiangolo.com">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/fastapi.svg" alt="fastapi" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://flask.palletsprojects.com/en/3.0.x/">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/flask.svg" alt="flask" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://angularjs.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/angularjs.svg" alt="angularjs" class="jumbotron-image" />
            </a>
          </div>
          <div class="jumbotron">
            <a target="_blank" href="https://www.postgresql.org">
              <!-- https://techicons.dev/ -->
              <img src="assets/images/techstack/postgresql.svg" alt="postgresql" class="jumbotron-image" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="mt-auto text-white-50">
    <p>
      Thanks to my supervisor, <a href="https://www.ksi.mff.cuni.cz/~holubova/" target="_blank" class="text-white">Doc. RNDr. Irena Holubová, Ph.D.</a>
    </p>
    <p>
      Created by <a href="https://github.com/vaclavstibor" target="_blank" class="text-white">Václav Stibor</a>
    </p>
    <a target="_blank" href="https://open-platform.theguardian.com">
      <!-- https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/03/01/poweredbyguardianWHITE.png -->
      <img src="/assets/images/poweredbyguardianWHITE.png" alt="poweredbyguardian" />
    </a>
  </footer>
  <!-- Cover template for https://getbootstrap.com/ by https://twitter.com/mdo -->
</div>

