# All dirs with data
**/data/

# Python cache
__pycache__/

## Airflow
#  - Airflow logs
**/logs/
# - Airflow pid
**/airflow-webserver.pid
**/airflow-scheduler.pid

# notes.txt
**/notes.txt

# throttle
**/throttle.ctrl

# envs
*.env