body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.article-list-header {
  margin-bottom: 22.5px;
}

.article-list-container {
  display: flex;
  flex-direction: column;
}

.filter-field {
  width: 100%;
}

.sentiment-bubble {
  padding: 0.5em 1em;
  border-radius: 20px;
  color: #e3e3e3;
}

/* Custom styles for table elements */
.custom-header-cell {
  color: #e3e3e3;
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap; /* Prevent text wrapping in header cells */
}

.custom-cell {
  color: #e3e3e3;
  white-space: nowrap; /* Prevent text wrapping in cells */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.custom-row, .custom-cell {
  border-bottom: 1px solid #e3e3e3;
}

.custom-header-row {
  border-bottom: 2px solid #e3e3e3;
}

.custom-table {
  color: #e3e3e3;
  table-layout: fixed; /* Fixed layout to prevent columns from resizing */
}

.custom-table a {
  color: #e3e3e3;
}

.custom-paginator {
  color: #e3e3e3;
}

/* Additional styling for sorting headers */
.mat-sort-header-container {
  color: #e3e3e3 !important;
}

.mat-sort-header-arrow {
  color: #e3e3e3 !important;
}

/* Input field underline and label color */
.mat-form-field-underline {
  background-color: #e3e3e3 !important;
}

.mat-form-field-label {
  color: #e3e3e3 !important;
}

/* Responsive styles */
@media (max-width: 600px) {
  .article-list-header {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .sentiment-bubble {
    padding: 0.3em 0.8em;
    font-size: 0.9rem;
  }

  .custom-header-cell, .custom-cell {
    font-size: 0.9rem;
  }
}
