<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">
          <a class="navbar-brand" routerLink="/">
            <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top"
              alt="GlobeSense" />
            <span class="ms-1">GlobeSense</span>
          </a>
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0" routerLink="/">Home</a>
          <a class="nav-link fw-bold py-1 px-0" routerLink="/graph">3D Force Graph</a>
          <a class="nav-link fw-bold py-1 px-0" routerLink="/tickers">Tickers</a>
        </nav>
      </div>
    </header>

<div>
    <app-stock-chart></app-stock-chart>
</div> 
<div>
    <app-article-list></app-article-list>
</div>  
</div> 