
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
          <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="GlobeSense" />
          <span class="ms-1">GlobeSense</span>
        </a>
      </h3>
      <button class="navbar-toggler d-md-none" type="button" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="nav nav-masthead justify-content-end d-none d-md-flex">
        <a class="nav-link fw-bold py-1 px-0" routerLink="/">HOME</a>
        <a class="nav-link fw-bold py-1 px-0" routerLink="/companies/graphs">GRAPHS</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" routerLink="/COMPANIES">COMPANIES</a>
      </nav>
    </div>
    <nav *ngIf="isNavbarOpen" class="nav nav-masthead justify-content-center d-flex d-md-none">
      <a class="nav-link fw-bold py-1 px-0" routerLink="/">HOME</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/companies/graphs">GRAPHS</a>
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" routerLink="/COMPANIES">COMPANIES</a>
    </nav>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="form mt-5 text-center">
          <h1><label for="companyDataList" class="form-label">SEARCH FOR COMPANY</label></h1>
          <div class="input-container">
            <input class="form-control-lg" required list="datalistOptions" id="companyDataList" name="inputText" [(ngModel)]="inputText" (ngModelChange)="search()">
            <svg class="input-icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
              </g>
            </svg>
          </div>
          <datalist id="datalistOptions">
            <option *ngFor="let company of companies" [value]="company.shortName"></option>
          </datalist>
        </form>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3" *ngFor="let company of companies | paginate: { itemsPerPage:12, currentPage:page }">
        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <h3 class="card-title">{{company.ticker}}</h3>
            <div class="card-links">
              <a class="icon-link" [routerLink]="['/company', company.ticker, 'graph']">
                <span>
                  <i class="bi bi-diagram-3"></i>
                </span>
              </a>
              <a class="icon-link" [routerLink]="['/company', company.ticker, 'dashboard']">
                <span style="margin-left: 1.5rem;">
                  <i class="bi bi-graph-up"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls class="pagination text-center" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
